body { 
    margin: 0;
    font-family: Garamond;
}   

.bannerlink {
    background-color: #56e7aa;
    padding: 10px 0px;
    text-align: center;
    width: 33%;
    min-height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.bannerlink a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease, transform 0.2s ease;
}

.bannerlink a:hover {
    color: #333;
    transform: scale(1.1);
}

.top-container {
    background-color: #f1f1f1;
    padding: 30px 30px;
    text-align: center;
}

.header {
    position: sticky;
    top: 0;
    padding: 0px 0px;
    background: #56e7ab;
    color: #f1f1f1;
}

.content {
    padding: 16px;
}

.catalogue {
    background-color: rgb(238, 238, 238);
    padding: 20px;
    text-align: center;
}

.strokeme {
    color:white;
    text-shadow:
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000,
}

.vendorbox {
    background-color: sienna;
    width: 33%;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    border: 5px solid black;
}

img {
    border-radius: 5px;
    width: 100%;
    display: block;
    border: 3px solid black;
}

.venderbox:hover {
    opacity: 0.7;
}

.vendorinfo {
    background-color: darksalmon;
    width: 100%;
    color: brown;
    text-align: left;
    height: 100px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.vendortitle {
    font-size: 20px;
    font-weight: bold;
    background-color: burlywood;
    padding: 5px;
    border-radius: 5px;
}

.vendordescription {
    font-size: 16px;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
}

.leftSideBar {
    top: 28.6%;
    left: 0;
    height: 100%;
    padding: 200px;
    background-color: none;
    position: absolute;
}

.rightSideBar {
    top: 28.6%;
    right: 0;
    width: 350px;
    height: 100%;
    padding: 200px;
    background-color: sienna;
    position: absolute;
    padding: 20px;
    
}
.sticky {
    position: fixed; /* Becomes fixed when scrolled */
    top: 9.5%; /* Sticks to top */
}

.radiusBox {
    width: 350px;
    height: 30%;
    background-color: rgb(157, 157, 157);
    border-radius: 5px;
    margin-bottom: 20px;
}

.upperRadBox {
    background-color: white;
    height: 40%;
    padding: 1px;
    border-radius: 5px 5px 0 0;
}

.checkboxes {
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    flex-direction: column;
}