body { 
    margin: 0;
    font-family: Garamond;
}   

.bannerlink {
    background-color: burlywood;
    padding: 10px 1px;
    text-align: center;
    width: 33%;
    min-height: 30px;
    display: inline-block;
}

.top-container {
    background-color: #f1f1f1;
    padding: 30px 30px;
    text-align: center;
}

.header {
    position: sticky;
    top: 0;
    padding: 10px 10px;
    background: #555;
    color: #f1f1f1;
}

.content {
    padding: 16px;
}

.catalogue {
    background-color: bisque;
    padding: 20px;
    text-align: center;
}

.strokeme {
    color:white;
    text-shadow:
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000,
}

.vendorbox {
    background-color: sienna;
    width: 33%;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    border-radius: 5px;
}

img {
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 80%;
    display: block;
}

.venderbox:hover {
    opacity: 0.7;
}

.vendorinfo {
    background-color: darksalmon;
    width: 100%;
    color: brown;
    text-align: left;
    height: 100px;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vendortitle {
    font-size: 20px;
    font-weight: bold;
    background-color: burlywood;
    padding: 5px;
    border-radius: 5px;
}

.vendordescription {
    font-size: 16px;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
}

.leftSideBar {
    top: 28.6%;
    left: 0;
    height: 100%;
    padding: 200px;
    background-color: none;
    position: absolute;
}

.rightSideBar {
    top: 28.6%;
    right: 0;
    width: 350px;
    height: 100%;
    padding: 200px;
    background-color: sienna;
    position: absolute;
    padding: 20px;
    
}
.sticky {
    position: fixed; /* Becomes fixed when scrolled */
    top: 9.5%; /* Sticks to top */
}

.radiusBox {
    width: 350px;
    height: 30%;
    background-color: rgb(157, 157, 157);
    border-radius: 5px;
    margin-bottom: 20px;
}

.upperRadBox {
    background-color: white;
    height: 40%;
    padding: 1px;
    border-radius: 5px 5px 0 0;
}

.checkboxes {
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    flex-direction: column;
}